* {margin: 0; padding: 0;}

.cabeçalho {
    background-color: #B0C4DE; 
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.imagem-cabeçalho {
    width: 100px;
}

.lista-item {
    display: inline-block;
    margin: 0 16px; 
    padding: 24px 0; 
    font-size: 24px;
    width: 100px;

}

.projeto {
    background-image: linear-gradient(#B0C4DE, #F0FFFF);
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 24px 0;
}

.projeto-div {
    width: 90%; 
    margin-left: 200px;
}

.projeto-titulo {
    padding: 24px 0;
}

.projeto-imagem {
    width: 25%;
    margin-left: 650px;
    margin-top: -100px;
}

.estudante-imagem {
    width: 100px;
    text-align: center;
}

.estudante-div {
    text-align: center;
    display: inline-block; 
    margin-left: 290px;
    margin-bottom: 50px;
}

.estudante-texto { 
    margin-top: 15px;
}

.estudante-titulo {
    text-align: center; 
    padding: 50px 0; 
}

.rodape {
    background-color:#B0C4DE;
    text-align: center; 
}

.rodape-imagem {
    height: 80px;
    padding: 12px 0; 
}

.field {
    width: 100%;
    margin: 15px 0;
}
.mensagem {
    line-height: 20px;
    padding: 10px;
    height: 110px;
    resize: none;
    width: 100%;
}

.div {
    display: block;
}

.lado_1 {
    padding: 0 20px 0 100px;
}

.formulario p {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
    color: black;
}

input[type=submit] {
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

.banner {
    background-color: #B0C4DE;
    color: black;
    text-align: center;
    padding: 2.53em 2em;
    background-color: #B0C4DE;
    text-align: center;
}

.banner_titulo {
    font-size: 80px;
    font-weight: 700;
    color: black;
}

.banner_texto{
    font-weight: 500;
    color: black;
}

.benner_pesquisa{
    background-color: transparent;
    border: 1px solid black ;
    color: black;
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}
.banner_pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--preto);
    background-position: 1em;
}


